$point: #0A84FF;
$bgColor: #fefeff;
$black: #212529;
$subBlack: #495057;
$darkSubBlack: #CED4DA;  // 다크모드에서 사용할 subBlack
$red: #FF6B6B;
$cardBlack: #343A40;
// $cardBg: #f1f3f5;
$cardBg: #edf0f2;

$borderRadius: 5px;
