@charset "UTF-8";
html {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Pretendard", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

.en {
  font-family: "SF Mono", sans-serif;
}

.inner {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.loading-container {
  width: 100vw;
  height: 100vh;
  background: #0A84FF;
}
.loading-container .loading-motion .fill-path {
  fill: #fff; /* 채워질 색상 */
  -webkit-clip-path: inset(0 100% 0 0);
          clip-path: inset(0 100% 0 0); /* 처음에는 전부 가려진 상태 */
  -webkit-animation: fillAnimation 2s ease-out forwards;
          animation: fillAnimation 2s ease-out forwards;
}
@-webkit-keyframes fillAnimation {
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0); /* 전체가 점점 나타남 */
  }
}
@keyframes fillAnimation {
  to {
    -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0); /* 전체가 점점 나타남 */
  }
}

.btn {
  padding: 0;
  height: auto;
  position: relative;
  border: none;
  min-height: auto;
}
.btn span {
  padding: 15px 20px;
  border: 1px solid #212529;
  border-radius: 5px;
  font-family: "SF Mono", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  background: #fefeff;
  white-space: nowrap;
  z-index: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn::after {
  position: absolute;
  content: "";
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background: #0A84FF;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.btn:hover span {
  border-color: #0A84FF;
  font-weight: 500;
  color: #0A84FF;
}
.btn:hover::after {
  opacity: 1;
  top: 5px;
  left: 5px;
}

.sub-tit {
  color: #0A84FF;
  font-size: 1.4rem;
  margin-bottom: 40px;
}

.fade-in {
  opacity: 0;
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  will-change: opacity, transform;
}

html[data-theme=dark] .btn {
  background: none;
}
html[data-theme=dark] .btn span {
  border-color: white;
  color: white;
  background: #212529 !important;
}
html[data-theme=dark] .mobile-menu span {
  background: white;
}
html[data-theme=dark] .btn-view {
  color: #CED4DA;
}
html[data-theme=dark] .btn-view::after {
  background: #CED4DA;
}
html[data-theme=dark] .section-experience .content-wrap .swiper-slide p.en {
  color: #CED4DA;
}
html[data-theme=dark] .section-projects .projects > li .txt-wrap .skills span {
  color: #CED4DA;
}
html[data-theme=dark] .section-projects .projects > li .link-wrap > ul > li svg {
  color: #CED4DA;
}
html[data-theme=dark] footer small {
  color: #CED4DA;
}
html[data-theme=dark] header {
  background: #212529;
}
html[data-theme=dark] .mobile-nav.active {
  background: #212529;
}

@media (max-width: 1023px) {
  .btn span {
    padding: 15px 25px;
  }
  .sub-tit {
    font-size: 1.25rem;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .btn span {
    padding: 12px 20px;
    font-size: 0.875rem;
  }
  .sub-tit {
    font-size: 1.125rem;
    margin-bottom: 25px;
  }
}