@import './Common';

// Breakpoints
$desktop: 1439px;
$mobile: 767px;
$tablet: 1023px;

html {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Pretendard", sans-serif;
    font-style: normal;
    font-weight: 400;
}

a {
    text-decoration: none;
}

.en {
    font-family: "SF Mono", sans-serif;
}

.inner {
    // width: 1200px;
    width: 100%;
    max-width: 1000px;
    // padding: 0 20px;
    margin: 0 auto;
}

// main {
//     padding: 0 150px;
// }

.loading-container {
    width: 100vw;
    height: 100vh;
    background: $point;
    .loading-motion {
        .fill-path {
            fill: #fff; /* 채워질 색상 */
            clip-path: inset(0 100% 0 0); /* 처음에는 전부 가려진 상태 */
            animation: fillAnimation 2s ease-out forwards;
        }
        @keyframes fillAnimation {
        to {
            clip-path: inset(0 0 0 0); /* 전체가 점점 나타남 */
        }
        }
        // .draw-path {
        //     stroke: #fff; /* 원하는 색상 */
        //     stroke-width: 2; /* 선 굵기 */
        //     fill: transparent;
        //     stroke-linecap: round;
        //     stroke-linejoin: round;
          
        //     /* 애니메이션 적용 */
        //     stroke-dasharray: 700; /* 전체 길이보다 살짝 크게 */
        //     stroke-dashoffset: 700; /* 처음에는 선을 숨김 */
        //     animation: draw 2s ease-in-out forwards;
        //   }
          
        //   @keyframes draw {
        //     to {
        //       stroke-dashoffset: 0;
        //     }
        //   }
    }
}

.btn {
    padding: 0;
    height: auto;
    position: relative;
    border: none;
    min-height: auto;

    span {
        padding: 15px 20px;
        border: 1px solid $black;
        border-radius: $borderRadius;
        font-family: "SF Mono", sans-serif;
        font-size: 0.875rem;
        font-weight: 400;
        background: $bgColor;
        white-space: nowrap;
        z-index: 1;
        transition: 0.3s;
    }
    

    &::after {
        position: absolute;
        content: '';
        opacity: 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 5px;
        background: $point;
        transition: 0.3s;
    }

    &:hover {
        span {
            border-color: $point;
            font-weight: 500;
            color: $point;
        }
        &::after {
            opacity: 1;
            top: 5px;
            left: 5px;
            
        }
    }
}

.sub-tit {
    color: $point;
    font-size: 1.4rem;
    margin-bottom: 40px;
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    will-change: opacity, transform;
  }
  

// 다크모드 스타일
html[data-theme="dark"] {
    .btn {
        background: none;
        span {
            border-color: white;
            color: white;
            background: $black !important;
        }
    }

    .mobile-menu span {
        background: white;
    }

    .btn-view {
        color: $darkSubBlack;
        &::after {
            background: $darkSubBlack;
        }
    }


    // experience 섹션 회사명
    .section-experience .content-wrap .swiper-slide p.en {
        color: $darkSubBlack;
    }
    .section-projects .projects > li .txt-wrap .skills span {
        color: $darkSubBlack;
    }
    .section-projects .projects > li .link-wrap > ul > li svg{
        color: $darkSubBlack;
    }
    
    footer small {
        color: $darkSubBlack;
    }

    header {
        background-color: var(--fallback-b1,oklch(var(--b1)/1));
    }
    .mobile-nav {
        &.active {
            background-color: var(--fallback-b1,oklch(var(--b1)/1)); 
        }
    }
    .mobile-nav .nav-content .mobile-bottom .social-links a svg {
        color: $darkSubBlack;
    }

    
    @media (max-width: 960px){
        .section-projects .projects > li .txt-wrap .desc-wrap p {
            color: $darkSubBlack;
        }
    }
}

// Media Queries
@media (max-width: $desktop) {
    .inner {
        // width: 100%;
        // max-width: 1100px;
        // padding: 0 100px;
    }
}

@media (max-width: $tablet) {
    // .inner {
    //     max-width: 900px;
    // }
    // main {
    //     padding: 0 100px;
    // }
    
    .btn {
        span {
            padding: 15px 25px;
        }
    }
    
    .sub-tit {
        font-size: 1.25rem;
        margin-bottom: 30px;
    }
}

@media (max-width: $mobile) {
    // .inner {
    //     padding: 0 15px;
    // }
    // main {
    //     padding: 0 20px;
    // }
    .btn {
        span {
            padding: 12px 20px;
            font-size: 0.875rem;
        }
    }
    
    .sub-tit {
        font-size: 1.125rem;
        margin-bottom: 25px;
    }
}